
        <div class="container pt-5 ps-2d-flex justify-content-center navbar-fixed-bottom">
            <div class="row w-75">
                <div class="col-md-6">
                    <span>© 2022 Company, Inc</span>
                </div>

                <!-- <div class="col-md-6">
                    <div class="copyright-menu">
                                <a href="#">Terms</a> &
                                <a href="#">Privacy Policy</a>
                    </div>
                </div> -->
            </div>

        </div>
