{% extends "base.html" %}
{% block title%}Dashboard{% endblock %}

{% block content%}


<div class="container-md-4">
<div class="card">
    <div class="card-body" >
        <p class="card-title">Recorded carbon emissions</p>
        <hr>
        <canvas id="myChart"  style="max-height:250px ;"></canvas>
    </div>
</div>
</div>
<p>{{ dates }}</p>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Form ID</th>
          <th>Total Carbon Emissions</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      
        {% for c in range(1, counting+1) %}
        <tr>
          <td> {{ c }} </td>
          
          
          <td>{{ '{0:.2f}'.format(tot[c-1]) }}</td>
          
          <td><a href="/deleteform/{{ session['useremail'] }}/{{ c }}" class="btn btn-danger">Delete</a></td>
<!--           
            <form action="" method="POST">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form> -->
          </td>
        </tr>
        {% endfor %}
      
      </tbody>
  
</table>

<script>

    const horizontalavg = {
        id: 'horizontalavg',
        beforeline(chart, args, options) {
            const { ctx, chartArea: { top, right, bottom, left, width, height },
        scales: { x, y }} = chart;

        ctx.save();

        // horizontal line drawing
        ctx.strokeStyle = 'grey';
        ctx.setLineDash([10, 5]);

        ctx.strokeRect(left, y.getPixelForValue(8.56), width, 0);
        ctx.restore();
        }
    };
    // datelist = []
    // for (var i = 0; i < arrayLength; i++) {
    // console.log(myStringArray[i]);
    // datelist.append(i)
    // }
    // var datedate = {{ dates }};
    var labels = [{% for i in range(1, counting+1) %} {{ i }} ,{% endfor %}];
    // var labels = []
    // for (let i = 0; i < datedate.length; i++) {
    // labels.append(i);
    // }


    var config = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
            //     {
            //     label: 'Carbon footprint',
            //     data: [{% for item in tot %} {{item}} ,{% endfor %}],
            //     backgroundColor: ['rgba(75, 192, 192, 0.2)',],
            //     borderColor: ['rgba(75, 192, 192, 1)',],
            //     borderWidth: 1
            // }
            {
                label: 'Utilities',
                data: [{% for item in uty %} {{item}} ,{% endfor %}],
                backgroundColor: ['rgba(255, 159, 64, 0.8)',],
                borderColor: ['rgba(255, 159, 64, 1)',],
                borderWidth: 1
            },
            {
                label: 'Transport',
                data: [{% for item in tr %} {{item}} ,{% endfor %}],
                backgroundColor: ['rgba(75, 192, 192, 0.8)',],
                borderColor: ['rgba(75, 192, 192, 1)',],
                borderWidth: 1
            },
            {
                label: 'Food',
                data: [{% for item in fo %} {{item}} ,{% endfor %}],
                backgroundColor: ['rgba(54, 162, 235, 0.8)',],
                borderColor: ['rgba(54, 162, 235, 1)',],
                borderWidth: 1
            },
            {
                label: 'Others',
                data: [{% for item in oth %} {{item}} ,{% endfor %}],
                backgroundColor: ['rgba(153, 102, 255, 0.8)',],
                borderColor: ['rgba(153, 102, 255, 1)',],
                borderWidth: 1
            },
        ]
        },
        options: {
            scales: {
                x:{
                stacked: true,
            //     type: 'time',
            //     time: {
            //     unit :'day',
            //     parser: 'dd:mm:yyyy'
            // }
          },
                y: {
                    stacked: true,
                    beginAtZero: true
                }
            },
            
            
        },
        // plugins: [horizontalavg]
        // plugins: {
        //     tooltip: {
        //         callbacks: {
        //         afterBody: function(context) {
        //             return '%';
        //         }
        //     }
        //     }
        // }
        // plugins: [ChartDateLabel],
    };

    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, config);
    </script>
{% endblock %}
