{% extends "base.html" %}
{% block title%}Dashboard{% endblock %}

{% block content%}


<div class="container-md-4">
<div class="card">
    <div class="card-body" >
        <p class="card-title">Recorded carbon emissions</p>
        <hr>
        <canvas id="myChart"  style="max-height:250px ;"></canvas>
    </div>
</div>
</div>
<p>{{ dates }}</p>

<script>

    const horizontalavg = {
        id: 'horizontalavg',
        beforeline(chart, args, options) {
            const { ctx, chartArea: { top, right, bottom, left, width, height },
        scales: { x, y }} = chart;

        ctx.save();

        // horizontal line drawing
        
        ctx.strokeStyle = 'grey';
        ctx.setLineDash([10, 5]);

        ctx.strokeRect(left, y.getPixelForValue(8.56), width, 0);
        ctx.restore();
        }
    };
    // datelist = []
    // for (var i = 0; i < arrayLength; i++) {
    // console.log(myStringArray[i]);
    // datelist.append(i)
    // }
    // var datedate = {{ dates }};
    var labels = [{% for item in dates %} {{ item }} ,{% endfor %}];
    // var labels = []
    // for (let i = 0; i < datedate.length; i++) {
    // labels.append(i);
    // }


    var config = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Carbon footprint',
                data: [{% for item in tot %} {{item}} ,{% endfor %}],
                backgroundColor: ['rgba(75, 192, 192, 0.2)',],
                borderColor: ['rgba(75, 192, 192, 1)',],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: [ {
            display: true,
            type: 'time',
            time: {
              parser: 'DD/MM/YYYY',
              tooltipFormat: 'll HH:mm',
              unit: 'day',
              displayFormats: {
                'day': 'DD/MM/YYYY'
              }
            }
          }
        ],
                y: {
                    beginAtZero: true
                }
            }
        },
        plugins: [horizontalavg]
    };

    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, config);
    </script>
{% endblock %}
