{% extends "base.html" %}
{% block title%}Homepage{% endblock %}

{% block content%}


    <div class="container-sm col-lg-6 ml-auto">

        <h3 class="display-7">How can you help combat climate change?</h3>

        <p class="py-3">Fill up this form to find out your carbon emisions and get recommendations.</p>
        <p class="py-2">What are carbon emissions? .....</p>

        
            <div class="row justify-content-center mt-3 ">
              <a class="btn btn-outline-success btn-md" style="width:45%" href="/carbonform" role="button">Done</a>
            </div>


    </div>


{% endblock %}
