{% extends "base.html" %}
{% block title%}Homepage{% endblock %}

{% block content%}

<div class="p-5 bg-light">
    <div class="container-sm col-lg-6 ml-auto">

        <h3 class="display-7">Check your email!</h3>

        <p class="py-3">A link to reset your password has been sent to the email provided.</p>

        
            <div class="row justify-content-center mt-3 ">
              <a class="btn btn-outline-primary btn-md" style="width:45%" href="/login" role="button">Done</a>
            </div>


    </div>
</div>

{% endblock %}
