{% extends "base.html" %}
{% block title %}Calculate My Carbon Footprint{% endblock %}
    {% block content %}
{% from "includes/formhelper.html" import render_field %}

<div class="container">
      <ul class="nav nav-tabs">
         <li class="nav-item"><a href="#step1" class="nav-link active" data-bs-toggle="tab" role="tab">Utilities</a></li>
         <li class="nav-item"><a href="#step2" class="nav-link" data-bs-toggle="tab" role="tab">Transport</a></li>
         <li class="nav-item"><a href="#step3" class="nav-link" data-bs-toggle="tab" role="tab">Food</a></li>
         <li class="nav-item"><a href="#step4" class="nav-link" data-bs-toggle="tab" role="tab">Others</a></li>
      </ul>
      
    <form class="tab-content pt-3 form-horizontal" method="POST" id="myForm" action="">

       <div class="tab-pane active" id="step1" role="tabpanel" >
            <div class="form_group">
                {{render_field(form.numberofpeople, class="form-control")}}
            </div>
            <div class="form_group">
                {{render_field(form.electricity, class="form-control")}}
            </div>
            <div class="form_group">
                {{render_field(form.gas, class="form-control")}}
            </div>
            <div class="form_group">
                {{render_field(form.water, class="form-control")}}
            </div>
            <div class="form_group">
                 {{render_field(form.recycle, class="form-control", style="list-style-type:none")}}
             </div>
       </div>

       <div class="tab-pane" id="step2" role="tabpanel" >
          <p>What is the average distance you commute on the following modes of transport?</p>
              <div class="form_group">
                    {{render_field(form.car, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.motorcycle, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.mrtlrt, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.bus, class="form-control")}}
                </div>
           <br>
           <p>What is the number of times you have travelled to each of these regions within the past year:</p>
                <div class="form_group">
                    {{render_field(form.southeastasia, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.asiapacific, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.europeafrica, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.oceania, class="form-control")}}
                </div>
                <div class="form_group">
                    {{render_field(form.americas, class="form-control")}}
                </div>

       </div>

       <div class="tab-pane" id="step3" role="tabpanel" >
          <p>Here is the content for step 3...</p>
          <input class="form-control" id="input3" name="input3" required="">
          <input class="form-control" id="input4" name="input4" required="">
          <button class="btn btn-default btn-ok" type="button">OK</button>
       </div>

       <div class="tab-pane" id="step4" role="tabpanel" >
          <p>This is the last step. You're done.</p>
          <button class="btn btn-default btn-submit" type="submit">Submit</button>
       </div>
       
    </form>
 </div>



 <script>
    // disable all tabs
$('[data-toggle=tab]').click(function () {
  return true;}
).addClass("text-muted");

var validated = function(tab){
  tab.unbind('click').removeClass('text-muted').addClass('green');
}

//validate inputs on click of button
$('.btn-ok').click(function(){
    
    var allValid = true;
    // get each input in this tab pane and validate
    $(this).parents('.tab-pane').find('.form-control').each(function(i,e){
         
        // some condition(s) to validate each input
        var len = $(e).val().length;
        if (len>0){
            // validation passed
            allValid = true;
        } else {
            // validation failed
            allValid = false;
        }
       
    });
  
    if (allValid) {
        var tabIndex = $(this).parents('.tab-pane').index();
        validated($('[data-toggle]').eq(tabIndex+1));
    }
    
});


// form submit
$( "#myForm" ).submit(function( event ) {
  console.log("Handler for .submit() called..");
  console.log( $( this ).serialize() );
  event.preventDefault();
});


 </script>

{% endblock %}